
.remote-id {
  float: right;
  margin-right: 10%;
  margin-top: 7px;
  font-size: 0.8rem;
}

.top-buttons {
  margin: 0 20%;
}

.button-big {
  width: 150px;
  padding: 10px;
  margin: 0 0 10px;
  background-color: #777;
  border-radius: .5rem;
  border: 2px solid #e2e8f0;
  color: #FFF;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.button-primary {
  background-color: #4299e1;
}

.button-danger {
  background-color: red;
}

.highlight {
  background-color: #000;
}

#refreshUI {
  display: none;
}

#processQueue {
  display: none;
}

#version-wrapper {
  margin: -20px 5px 0 0;
  color: #777;
}
