.hide {
  display: none;
}

.remote-id {
  float: right;
  margin-right: 10%;
  margin-top: 7px;
  font-size: 0.8rem;
}

.top-buttons {
  width: 100%;
  text-align: center;
}

.button-big {
  width: 150px;
  padding: 10px;
  margin: 0 0 10px;
  background-color: #777;
  border-radius: .5rem;
  border: 2px solid #e2e8f0;
  color: #FFF;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.button-small {
  padding: 3px 8px;
  margin: 0 0 5px;
  background-color: #777;
  border-radius: .5rem;
  border: 2px solid #e2e8f0;
  color: #FFF;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.button-primary {
  background-color: #4299e1;
}

.button-action {
  background-color: #2ECC40;
}

.button-warning {
  background-color: #FF851B;
}

.button-danger {
  background-color: #FF4136;
}

.button-highlight {
  background-color: #000;
}

#notification-wrapper {
  height: 19px;
  text-align: center;
}

#instructions {
  font-size: 10px;
}

#version-wrapper {
  margin: -16px 5px 0 0;
  color: #777;
  font-size: 10px;
}

#version {
  font-weight: 500;
}
