
.remote-id {
  float: right;
  margin-right: 10%;
  margin-top: 7px;
  font-size: 0.8rem;
}

.top-buttons {
  margin: 0 40%;
}

.button-big {
  width: 150px;
  padding: 5px;
  margin: 0 0 10px;
  background-color: #FFF;
  color: #777;
  cursor: pointer;
  outline: none;
}

.highlight {
  background-color: #000;
}

#refreshUI {
  display: none;
}

#processQueue {
  display: none;
}
